body{
    margin: 0;
    font-family: sans-serif;
    background: #fff; 
}
nav{
    background: #F0642C; 
    
}
.menu{
    text-align: right;
    margin: 0
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.menu li{
    display: inline-block;
}
ul li:hover ul li{
    display: block;
}
.menu a{
    padding: 30px;
    color: white;
    text-decoration: none;
    display: block
}
.menu a:hover{
    background: #F19F5B
}

* {
    box-sizing: border-box;
}
h1 {
    color: #3B3737;
    text-align: center;
}
h2{
    color: #3B3737;
    text-align: center;
}
.form-register{
    width: 95%;
    max-width: 1200px;
    margin: auto;
    background: #EBE5E0;
    opacity: .8;
    border-radius: 7px;
}
.form__titulo{
    background: F0642C;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-weight: 100;
    font-size: 30px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom: 5px solid crimson;
}

.contenedor-inputs{
    padding: 10px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
   
}
input{
    margin-bottom: 15px;
    padding: 15px;
    font-size: 16px;
    border-radius: 3px;
    border: 1px solid rgb(169, 169, 169);
}
.input-48{
    width: 15%;
    cursor: pointer;
    transform: scale(1.05);
}
.input-100{
    width: 100%;
}
.btn-enviar{
    background: crimson;
    color: #fff;
    margin: auto;
    padding: 10 px 40px;
    cursor: pointer;
    font-size: 20px;
}
.btn-enviar:active{
    transform: scale(1.05);
}
.form__link{
    width: 100%;
    margin: 7px;
    text-align: center;
    font-size: 14px;
}
.cuerpodos{
    padding: 20px;
    color: 3fff;
    
}
h3{
    color: #fff;
    font-size: 30px;
}
p{
    font-size: 50px;
    color: #fff;

}
.footer{
    background: #F19F5B;
    overflow: hidden;
    padding: 55px;
    text-align: center;
    color: white;
    border-radius: 7px;
}