* {
    box-sizing: border-box;
}
h1 {
    color: #333333;
    text-align: center;
}
.form-register{
    width: 95%;
    max-width: 500px;
    margin: auto;
}
.form__titulo{
    background: deepskyblue;
    color: #333333;
    padding: 20px;
    text-align: center;
    font-weight: 100;
    font-size: 30px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom: 5px solid crimson;
}

.contenedor-imputs{
    padding: 10px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   
}
input{
    margin-bottom: 15px;
    padding: 15px;
    font-size: 16px;
    border-radius: 3px;
    border: 1px solid darkgray;
}
.input-48{
    width: 48%;
}
.btn-enviar{
    background: crimson;
    color: #fff;
    margin: auto;
    padding: 10 px 40px;
}
.form__link{
    width: 100%;
    margin: 7;
    text-align: center;
    font-size: 14px;
}
.footer{
    background: #F19F5B;
    overflow: hidden;
    padding: 60px;
    text-align: center;
    color: white;
    border-radius: 7px;
}
